
.checkbox label, .radio label {
        min-height: 20px;
        padding-left: 30px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }

    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom- -left-radius: 3px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .checkbox label, .radio label {
        min-height: 20px;
        padding-left: 2px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }
    .formSelect {
        height: 34px;
        width: 100%;
        border-color: #d2d6de;
    }
    .background {
        background:url(@Url.Content("~/Uploads/Admin/HomePageBanners/"+content.Banner))no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 770px;
        overflow: hidden;
        text-align: center;
    }
    .benefitsBackground{
     background:url(@Url.Content("~/Uploads/Admin/BenefitsBackground/"+benefitsContent.BackgroundImage))no-repeat;

    background-attachment: fixed;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    }

    .requestDemoBackground{
     background:url(@Url.Content("~/Uploads/Admin/RequestDemoBackgrounds/"+requestDemoContent.BackgroundImage))no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 770px;
        overflow: hidden;
        text-align: center;
    }
