<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:development-1.database.windows.net;initial catalog=Enrollmeandmine-Dev;user id=peter;password=Blackberry@10$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PowerIBrokerDb" connectionString="Data Source=tcp:development-1.database.windows.net; Database=Enrollmeandmine-Dev; User Id=peter; Password=Blackberry@10$; Max Pool Size=5000"/>
    <!--<add name="PowerIBrokerDb" connectionString="Data Source=DESKTOP-PNK1MHJ\SQLEXPRESS; Database=DevEnrollMyGroup; user id=Anupam;password=anupam123;Connection Timeout=3600; Max Pool Size=5000" />
    <add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PNK1MHJ\SQLEXPRESS;initial catalog=DevEnrollMyGroup;user id=Anupam;password=anupam123;Connection Timeout=3600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PNK1MHJ\SQLEXPRESS;initial catalog=DevEnrollMyGroup;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- <add name="PowerIBrokerDb" connectionString="Data Source=LAPTOP-VNGAOJB2; Database=EnrollMyGroupDev; User Id=sa; Password=Welcome@2010; Max Pool Size=5000" />
<add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.27.25.25;initial catalog=EnrollMyGroup_QA;user id=flexsin;password=WeBhyd{_KJH1@fle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.27.25.25;initial catalog=EnrollMyGroup_Demo;user id=flexsin;password=WeBhyd{_KJH1@fle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.27.25.25;initial catalog=EnrollMyGroup_Flexsin;user id=flexsin;password=WeBhyd{_KJH1@fle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.27.25.25;initial catalog=EnrollMyGroup;user id=flexsin;password=WeBhyd{_KJH1@fle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PowerIBrokerEntities" connectionString="metadata=res://*/PowerIBrokerModel.csdl|res://*/PowerIBrokerModel.ssdl|res://*/PowerIBrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=enrollmygrouplive22june.cxevspkubvmi.us-east-2.rds.amazonaws.com;initial catalog=EnrollMyGroup;user id=enrollmygroup;password=Ghf6gu8uHjgTyrHjku;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="PowerIBrokerDb" connectionString="Data Source=3.87.223.235; Database=DevEnrollMyGroup; User Id=sa; Password=welcome2010; Max Pool Size=5000" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PageURL" value="http://localhost:50702/"/>
    <add key="EmailNotificationOnOff" value="On"/>
    <add key="SMSNotificationOnOff" value="Off"/>
    <!--<add key="username" value="flexsincompany@gmail.com" />
    <add key="password" value="flexsin@123" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="from" value="flexsincompany@gmail.com" />-->
    <!--<add key="host" value="mail.seologistics.com" />
    <add key="port" value="587" />
    <add key="from" value="test_flexsin@seologistics.com" />
    <add key="EnableSsl" value="False" />
    <add key="username" value="test_flexsin@seologistics.com" />
    <add key="password" value="Ybv0B'mJKLIU*%$" />-->
    <!--Twillo Credentials Test Start-->
    <!--<add key="APIAccountID" value="AC2e1338b51bc27ae8f96d1f80353d7e84" />
    <add key="APIAccountToken" value="75615a733db30f8c0009da766c1982a9" />
    <add key="SmsMobile" value="+16467982654" />
    <add key="Countrycode" value="+91" />-->
    <!--Twillo Credentials Test END-->
    <!--Twillo Credentials Live Start-->
    <add key="APIAccountID" value="ACf18124efa09cfe7b54383e6731d132cc"/>
    <add key="APIAccountToken" value="05bfa36a4614992fea60ec88aa454b36"/>
    <add key="SmsMobile" value="+16467982654"/>
    <add key="Countrycode" value="+91"/>
    <!--Twillo Credentials Live END-->
    <!--<add key="username" value="info@enrollmygroup.com" />
    <add key="password" value="Enrollmygroup1" />
    <add key="host" value="smtpout.europe.secureserver.net" />
    <add key="port" value="25" />
    <add key="from" value="info@enrollmygroup.com" />-->
    <add key="SecurityKey" value="ABCDEF1@#$12345"/>
    <add key="recaptchaPublicKey" value="6LcxwZQUAAAAAI5Y7kUx1CYQKl191NjrsXE_sK1D"/>
    <!--6LdzwLAUAAAAANv2nCDYQPxIlLY-Pad1EwsILiN6-->
    <add key="recaptchaPrivateKey" value="6LcxwZQUAAAAADIZVA4ejxHd_f8qZvnM9aOKXnfE"/>
    <!--<add key="AdminMail" value="testing.flexsin@gmail.com" />-->
    <add key="AdminMail" value="testingms.flexsin@gmail.com"/>
    <add key="AdminName" value="Admin"/>
    <add key="GoogleAppID" value="AIzaSyBfNwD0LGQ2h-HqCx-HIfakVCYZ61vICIU"/>
    <add key="SENDER_ID" value="948763131762"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647"/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="20">
      <providers>
        <add connectionStringName="DefaultConnection" name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </providers>
    </sessionState>
    <!--<customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/Error" statusCode="404"/>
      <error redirect="~/Error/badRequest" statusCode="500"/>
    </customErrors>-->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
      <add name="APIFilter" type="miniorangesamlsso.APIFilter" preCondition="managedHandler"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="yes"/>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
      <staticContent>
        <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      </staticContent>
      <!--<staticContent>
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      </staticContent>-->
    </system.webServer>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>