@{
    ViewBag.Title = "BrokerDashboard";
    Layout = "~/Views/Shared/_emgadminBrokerlayout.cshtml";
  
}

<section class="content">
    <div class="row">
        <center> <h1>Welcome to Broker Dashboard</h1></center>
    </div>

</section>

