@{
    ViewBag.Title = "AddBroker2";
    Layout = "~/Views/Shared/_Broker.cshtml";
}

<div class="container">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="/GeneralAgent">Broker</a></li>
            <li class="breadcrumb-item active" aria-current="page">Broker Company</li>
        </ol>
        <h6 class="slim-pagetitle">Manage Broker Addresses</h6>
    </div><!-- slim-pageheader -->

    <div class="section-wrapper">
        <label class="section-title">Broker</label>
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Broker Company Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="firstname">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Street: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">City: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">State: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="firstname">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Zip Code: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Work Phone: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div><!-- col-4 -->
            </div><!-- row -->

            <div class="form-layout-footer">
                <button class="btn btn-primary bd-0">Save</button>
                <button class="btn btn-secondary bd-0">Reset</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </div>
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
        </ol>
        <h6 class="slim-pagetitle">Manage Broker User</h6>
    </div>
    <div class="section-wrapper">
        <label class="section-title">Broker User</label>
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Broker Company Name: <span class="tx-danger">*</span></label>
                        <select class="form-control">
                            <option value="">Select</option>
                            <option value="2">OneDigital - New York</option>
                            <option value="3">Arthur J. Gallagher &amp; Co - New York</option>
                            <option value="4">Arthur J. Gallagher &amp; Co - New England</option>
                            <option value="5">J5 Consulting</option>
                            <option value="6">MINDIT Systems</option>
                        </select>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Billing Phone: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">First Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Last Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Email: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="firstname">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Work Phone: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Mobile Phone: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Fax: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                </div><!-- col-4 -->

            </div><!-- row -->

            <div class="form-layout-footer">
                <button class="btn btn-primary bd-0">Save</button>
                <button class="btn btn-secondary bd-0">Reset</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </div>
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            
        </ol>
        <h6 class="slim-pagetitle">Manage Broker Administrator</h6>
    </div>
    <div class="section-wrapper">
        <label class="section-title"> Broker User Details</label>
        <input type="text" class="form-control col-lg-4 mg-b-10" style="float:right;" placeholder="Search">
       
        <br />
        <div class="table-responsive">
            <table class="table mg-b-0">

                <tbody>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Work Phone</th>
                        <th>Mobile Phone</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>







                <tbody>
                    <tr>
                        <td>Beth</td>
                        <td>Kelley</td>
                        <td>bkelley@onedigital.com</td>
                        <td>(212) 455-9797</td>
                        <td>(212) 455-9797</td>
                        <td>Active</td>

                        <td>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-primary btn-xs editSubBroker">Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-outline-danger btn-xs SubBrokerStatus">Suspend</a>
                            <a href="javascript:void(0)" class="btn btn-outline-danger btn-xs SubBrokerDeactivate">Delete&nbsp;&nbsp;&nbsp;&nbsp;</a>



                        </td>

                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>Simeone</td>
                        <td>bsimeone@onedigital.com</td>
                        <td>(212) 455-9790</td>
                        <td>(212) 455-9790</td>
                        <td>Active</td>

                        <td>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-primary btn-xs editSubBroker">Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-outline-danger btn-xs SubBrokerStatus">Suspend</a>
                            <a href="javascript:void(0)" class="btn btn-outline-danger btn-xs SubBrokerDeactivate">Delete&nbsp;&nbsp;&nbsp;&nbsp;</a>



                        </td>

                    </tr>
                    <tr>
                        <td>Kelly</td>
                        <td>Natale</td>
                        <td>knatale@onedigital.com</td>
                        <td>(212) 455-9792</td>
                        <td>(212) 455-9792</td>
                        <td>Active</td>

                        <td>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-primary btn-xs editSubBroker">Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-outline-danger btn-xs SubBrokerStatus">Suspend</a>
                            <a href="javascript:void(0)" class="btn btn-outline-danger btn-xs SubBrokerDeactivate">Delete&nbsp;&nbsp;&nbsp;&nbsp;</a>



                        </td>

                    </tr>
                    <tr>
                        <td>Tamara</td>
                        <td>Lawton</td>
                        <td>tamara.lawton@onedigital.com</td>
                        <td>(212) 455-9782</td>
                        <td></td>
                        <td>Active</td>

                        <td>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-primary btn-xs editSubBroker">Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a href="javascript:void(0)" style="margin-bottom:2px;" class="btn btn-outline-danger btn-xs SubBrokerStatus">Suspend</a>
                            <a href="javascript:void(0)" class="btn btn-outline-danger btn-xs SubBrokerDeactivate">Delete&nbsp;&nbsp;&nbsp;&nbsp;</a>



                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
