@{
    ViewBag.Title = "PurchaseSubscription";
    Layout = "~/Views/Shared/_GeneralAgent.cshtml";
}

<div class="container">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="/GeneralAgent">General Agent</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Purchase Product
            </li>
        </ol>
        <h6 class="slim-pagetitle">
            Purchase Product
        </h6>
    </div><!-- slim-pageheader -->
    <div class="row row-sm mg-t-20">


        <div class="col-lg-12" style="padding-top: 3%;">
            <div class="section-wrapper">
                <label class="section-title"> Broker User Details</label>
                <div id="slWrapper2" class="parsley-select wd-250 mg-t-30">
                    <label class="form-control-label">Company <span class="tx-danger">*</span></label>
                    <select class="form-control select2" data-placeholder="Choose one" data-parsley-class-handler="#slWrapper2" data-parsley-errors-container="#slErrorContainer2">
                        <option value="">Select</option>
                        <option selected value="2">OneDigital - New York</option>
                        <option value="3">Arthur J. Gallagher &amp; Co - New York</option>
                        <option value="4">Arthur J. Gallagher &amp; Co - New England</option>
                        <option value="5">J5 Consulting</option>
                        <option value="6">MINDIT Systems</option>
                    </select>

                </div>
            </div><!-- section-wrapper -->
        </div><!-- col-6 -->

    </div>

    <div class="row row-xs">
        <div class="col-sm-6 col-xl-3">
            <div class="card card-pricing-three">
                <div class="card-header">Competitive Health Concierge Care</div>
                <div class="card-pricing">
                    <h1>$19</h1>
                    <p>per month</p>
                </div><!-- card-pricing -->
                <div class="card-body">
                    <ul class="pricing-list">
                        <li>---</li>
                        <li>------</li>

                    </ul><!-- pricing-list -->
                    <a href="" class="btn btn-primary btn-pricing">Assign</a>
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-pricing-three">
                <div class="card-header">Competitive Health Concierge Care</div>
                <div class="card-pricing">
                    <h1>$19</h1>
                    <p>per month</p>
                </div><!-- card-pricing -->
                <div class="card-body">
                    <ul class="pricing-list">
                        <li>---</li>
                        <li>------</li>

                    </ul><!-- pricing-list -->
                    <a href="" class="btn btn-primary btn-pricing">Assign</a>
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-pricing-three card-pricing-primary">
                <div class="card-header bg-primary">Competitive Health Concierge Care</div>
                <div class="card-pricing">
                    <h1>$19</h1>
                    <p>per month</p>
                </div><!-- card-pricing -->
                <div class="card-body">
                    <ul class="pricing-list">
                        <li>---</li>
                        <li>------</li>

                    </ul><!-- pricing-list -->
                    <a href="" class="btn btn-primary btn-pricing">Assign</a>
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-pricing-three">
                <div class="card-header">Competitive Health Concierge Care</div>
                <div class="card-pricing">
                    <h1>$19</h1>
                    <p>per month</p>
                </div><!-- card-pricing -->
                <div class="card-body">
                    <ul class="pricing-list">
                        <li>---</li>
                        <li>------</li>

                    </ul><!-- pricing-list -->
                    <a href="" class="btn btn-primary btn-pricing">Assign</a>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>



    </div>
    </div>