@*@model PowerIBroker.Areas.Broker.Models.Company
<div class="col-lg-3">
    <div class="form-group">

        @Html.DropDownListFor(Model.BrokerId, ViewBag.BrokerGet as SelectList, "Select", new { @class = "ddlBrokerIdchangeAddCompany form-control", @style = "margin-bottom:-25px;", @id = "ddlBrokerId" })

    </div>
</div>*@