@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_emgadminlayout.cshtml";
}
<script src="~/Content/Admin/js/validations.js"></script>
<style>
    .short {
        font-weight: bold;
        color: #FF0000;
        font-size: larger;
    }

    .weak {
        font-weight: bold;
        color: orange;
        font-size: larger;
    }

    .good {
        font-weight: bold;
        color: #2D98F3;
        font-size: larger;
    }

    .strong {
        font-weight: bold;
        color: limegreen;
        font-size: larger;
    }
</style>
<style>
    .checkbox label, .radio label {
        min-height: 20px;
        padding-left: 30px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }

    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom- -left-radius: 3px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }


    .checkbox label, .radio label {
        min-height: 20px;
        padding-left: 2px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }
</style>
<div class="rightpart" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Change Password
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Change Password</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Change Current Password</h3>

                    </div><!-- /.box-header -->

                    <div class="@(TempData["CustomMessage"] != null ? TempData["MessageType"] =="Success"?"alert alert-success" : "alert alert-danger":"")">
                        @if (TempData["CustomMessage"] != null)
                        {
                            <i class="fa @(TempData["MessageType"] == "Success" ? "fa-check-circle" : "fa-times-circle")"></i>

                        }
                        <span>@TempData["CustomMessage"]</span>
                    </div>
                    <div class="box-body">

                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Old Password</label>
                                    <input type="password" id="OldPswd" class="form-control" placeholder="Old Password" maxlength="25">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">New Password</label>
                                    <input type="password" id="NewPswd" class="form-control" placeholder="New Password" maxlength="25">
                                    <span id="result"></span>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Confirm Password</label>
                                    <input type="password" id="ConfrmPswd" class="form-control" placeholder="Confirm Password" maxlength="25">
                                    <div id="PswdNotMatch"></div>
                                </div>


                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button onclick="return ChangePassword(event);" type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </form>


                    </div><!-- ./box-body -->
                    <!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>

<script>

    function ChangePassword(e) {
   
        var isValid = true;
        var currentPassword = $('#OldPswd').val();
        var newPassword = $('#NewPswd').val();
        var confirmPassword = $('#ConfrmPswd').val();


        if (currentPassword == "" || newPassword == "" || confirmPassword == "") {
            $('#OldPswd,#NewPswd,#ConfrmPswd').each(function (e) {
                if ($.trim($(this).val()) == '') {
                    
                    isValid = false;
                    $(this).removeClass('custom-input-success').addClass('custom-input-error');
                    $(this).keypress(function () {
                       
                        $(this).removeClass('custom-input-error').addClass('custom-input-success');
                    });
                }

            });
        }
        else {
           
            if (currentPassword != "") {
            
                var a = checkStrength($("#NewPswd").val());
                if (a == 'Weak' || a == 'Too short' || a == 'Good' || a == 'Please provide a password') {

                    isValid = false
                    if (a == 'Please provide a password') {
                        $('#result').text('');
                    }
                    else {
                        $('#result').text(a);
                    }

                }
                else {
                    isValid = true
                    $('#result').text(a);
                }

                if (newPassword.length < 8) {
                   
                    isValid = false;
                    $("#NewPswd").removeClass('custom-input-success').addClass('custom-input-error');                   
                    $("#NewPswd").keyup(function () {                  
                        if ($.trim($("#NewPswd").val()).length >= 8 && $.trim($("#NewPswd").val()).length <= 20) {
                            $("#NewPswd").removeClass('custom-input-error').addClass('custom-input-success');
                            isValid = true;
                        }
                        else {
                            $("#NewPswd").addClass('custom-input-error');                          
                            isValid = false;
                        }
                        isValid = ($(newPassword).val().length > 8 && $(newPassword).val().length < 20 ? true : false);
                    });
                }
                else if (newPassword != confirmPassword) {
                    isValid = false;
                    $("#ConfrmPswd").removeClass('custom-input-success').addClass('custom-input-error');
                  
                 
                    $("#ConfrmPswd").keyup(function () {
                        if ($.trim($(this).val()).length >= 8 && $.trim($(this).val()).length <= 20) {
                     
                            $("#ConfrmPswd").removeClass('custom-input-error').addClass('custom-input-success');
                        
                            isValid = true;
                        }
                        else {
                            $("#ConfrmPswd").removeClass('custom-input-success').addClass('custom-input-error');

                            isValid = false;
                        }
                    });
                }
              
            }



            if (isValid == false)
                e.preventDefault();

            else {
                if (newPassword == confirmPassword) {

                    $.ajax({
                        url: '@Url.Action("ChangeAdminPassword", "Admin")',
                        type: "POST",
                        data: JSON.stringify({ OldPassword: currentPassword, NewPassword: newPassword }),
                        async: false,
                        contentType: "application/json",
                        dataType: "json",
                        success: function (result) {
                            if (result != -1) {
                                window.location.href = 'ChangePassword'
                            }
                            else {
                                window.location.href = 'ChangePassword'
                                var msg1 = "Incorrect old password.";
                                // toastr.error(msg1);
                            }
                        },
                        error: function (result) {
                            //toastr.error('Some error occurred !');
                        }
                    });
                }

            }

        }
    }

</script>



