@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>PowerIBroker - Broker User</title>
    <link rel="shortcut icon" type="image/ico" href="/Content/Frontend/images/favicon.ico">
    <link href="/Content/assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="/Content/assets/lib/datatables/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/Content/assets/lib/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/chartist/css/chartist.css" rel="stylesheet">
    <link href="/Content/assets/lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/slim.css" rel="stylesheet" />
    <link href="~/Content/assets/js/Alert/stylesheets/jquery.Alert.css" rel="stylesheet" />
    <link href="~/Content/assets/js/sweetalert.css" rel="stylesheet" />
    <script src="/Content/assets/lib/jquery/js/jquery.js"></script>
    <script src="/Content/assets/js/sweetalert.js"></script>
    <script src="/Content/assets/js/Alert/javascripts/jquery.Message.js"></script>
    <script src="/Content/assets/js/Alert/javascripts/sample.js"></script>
    <script src="/Content/assets/js/common.js"></script>
</head>
<body>
    <div class="slim-header">
        <div class="container">
            <div class="slim-header-left">
                <h2 class="slim-logo"><a href="#">EMG<span>.</span></a></h2>
            </div>
            <div class="slim-header-right">
                <div class="dropdown dropdown-c">
                    <a href="#" class="logged-user" data-toggle="dropdown">
                        <img src="http://via.placeholder.com//500x500" alt="">
                        <span>@Session["BrokerUser"]</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <nav class="nav">
                            <a href="/BrokerUser/Logout" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slim-navbar">
        <div class="container">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/BrokerUser">
                        <i class="icon ion-ios-home-outline"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item with-sub">
                    <a class="nav-link" href="#">
                        <i class="icon ion-ios-filing-outline"></i>
                        <span>Company</span>
                    </a>
                    <div class="sub-item">
                        <ul>
                            <li><a href="/BrokerUser/CreateCompany">Create Company</a></li>
                            <li><a href="/BrokerUser/ManageClient">Manage Company</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item with-sub">
                    <a class="nav-link" href="#">
                        <i class="icon ion-ios-book-outline"></i>
                        <span>Employees</span>
                    </a>
                    <div class="sub-item">
                        <ul>
                            <li><a href="/BrokerUser/ManageCompanyEmployees">Bulk Upload</a></li>
                            <li><a href="/BrokerUser/ManageEmployees">Manage Employees</a></li>

                        </ul>
                    </div>
                </li>
                @*<li class="nav-item with-sub">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                        <i class="icon ion-ios-gear-outline"></i>
                        <span>Broker</span>
                    </a>
                    <div class="sub-item">
                        <ul>
                            <li><a href="/BrokerUser/AddBroker">Manage Broker</a></li>
                        </ul>
                    </div>
                </li>*@
                <li class="nav-item with-sub">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                        <i class="icon ion-ios-gear-outline"></i>
                        <span>Products</span>
                    </a>
                    <div class="sub-item">
                        <ul>
                            <li><a href="/BrokerUser/SubscriptionPlan">Manage EMG Product</a></li>
                            <li><a href="/BrokerUser/PurchaseSubscription">Purchase Allocation</a></li>
                            <li><a href="/BrokerUser/PurchaseHistory">Manage Purchase History</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="slim-mainpanel">
        @RenderBody()
    </div>
    <div class="slim-footer">
        <div class="container">
            <p>Copyright @@2021 &copy; All Rights Reserved</p>
        </div>
    </div>
    <script>
        $(function () {
            'use strict';
            $('.datatable').DataTable({
                responsive: true,
                bLengthChange: false,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });
        });
    </script>
    <script src="/Content/assets/lib/popper.js/js/popper.js"></script>
    <script src="/Content/assets/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/Content/assets/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="/Content/assets/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="/Content/assets/lib/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="/Content/assets/lib/select2/js/select2.full.min.js"></script>
    <script src="/Content/assets/lib/moment/js/moment.js"></script>
    <script src="/Content/assets/lib/d3/js/d3.js"></script>
    <script src="/Content/assets/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8"></script>
    <script src="/Content/assets/lib/gmaps/js/gmaps.js"></script>
    <script src="/Content/assets/lib/peity/js/jquery.peity.js"></script>
    <script src="/Content/assets/js/slim.js"></script>
    <script src="/Content/assets/js/ResizeSensor.js"></script>
    <script src="/Content/assets/js/widgets.js"></script>
</body>
</html>
