@{
    ViewBag.Title = "EmailVerification";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

<style>
   
    .goToLogin{
    padding-top:150px;
    }
</style>
<!--banner-->

<div class="clientsection" id="botm">
    <div class="goToLogin">
        <h2>Thank you for the verification. Your email is successfully verified, Kindly login here</h2>
        <div><a href="javascript:void(0)" class="signUp login reqDemo1">Login</a> </div>

    </div>
    </div>
   




    <!--banner-->
