
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>EnrollMyGroup</title>
    <link rel="shortcut icon" type="image/ico" href="~/Content/Frontend/images/favicon.ico">
    <link href="/Content/assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="/Content/assets/lib/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/chartist/css/chartist.css" rel="stylesheet">
    <link href="/Content/assets/lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/slim.css" rel="stylesheet" />
    <link href="~/Content/assets/js/Alert/stylesheets/jquery.Alert.css" rel="stylesheet" />
    <link href="~/Content/assets/js/sweetalert.css" rel="stylesheet" />
    <script src="/Content/assets/lib/jquery/js/jquery.js"></script>
    <script src="/Content/assets/js/sweetalert.js"></script>
    <script src="/Content/assets/js/Alert/javascripts/jquery.Message.js"></script>
    <script src="/Content/assets/js/Alert/javascripts/sample.js"></script>
    <script src="/Content/assets/js/common.js"></script>
</head>
<body>
    <div class="signin-wrapper">
        <div class="signin-box">
            <h2 class="slim-logo"><a href="/">EM&M<span></span></a></h2>
            <h2 class="signin-title-primary">Forgot Password?</h2>
            <h3 class="signin-title-secondary" style=" font-size: 16px;">Enter your Email or Phone to continue.</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email or Phone" id="txtUserName">
                <ul class="parsley-errors-list filled" id="parsley-txtUserName"><li class="parsley-required">Email or Phone must be valid.</li></ul>
            </div>

            

            <button class="btn btn-primary btn-block btn-signin" id="btnsignin">Reset Password</button>
            
        </div>

    </div>
    <script src="/Content/assets/lib/popper.js/js/popper.js"></script>
    <script src="/Content/assets/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/Content/assets/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="/Content/assets/lib/select2/js/select2.full.min.js"></script>
    <script src="/Content/assets/lib/moment/js/moment.js"></script>
    <script src="/Content/assets/lib/d3/js/d3.js"></script>
    <script src="/Content/assets/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="/Content/assets/lib/gmaps/js/gmaps.js"></script>
    <script src="/Content/assets/lib/peity/js/jquery.peity.js"></script>
    <script src="/Content/assets/js/slim.js"></script>
    <script src="/Content/assets/js/ResizeSensor.js"></script>
    <script src="/Content/assets/js/widgets.js"></script>
    <script>
        function ValidateSigninUser() {
            var valid = true;
            $('.filled').hide();
            $('.form-control').removeClass('parsley-error');
            if ($("#txtUserName").val() == "") {
                valid = false;
                FocusErrors('txtUserName');
            }
            else {
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                var emailaddressVal = $("#txtUserName").val();
                var phoneReg = /^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/;
                if (!emailReg.test(emailaddressVal) && !phoneReg.test(emailaddressVal)) {
                    valid = false;
                    FocusErrors('txtUserName');
                    
                }
            }
            return valid;
        }
        function FocusErrors(Id) {
            $("#" + Id).val('');
            $("#" + Id).focus();
            $("#" + Id).addClass('parsley-error');
            $('#parsley-' + Id).show();
        }
        $(document).on('click', '#btnsignin', function () {
            if (ValidateSigninUser()) {
                $(this).prop('disabled', true);
                var temptext = $(this).text();
                $(this).text('Processing...');
                $.post('/Home/CheckUserExistence', { email: $("#txtUserName").val() }, function (response) {
                    if (response == "success") {
                         ShowAlertLoad('success', 'We have sent a password reset link on your email or phone', 'success', '/Home/Login');
                    }
                    else if (response == "not_found") {
                        ShowAlert('error', 'we don\'t have this email or phone in our system', 'error');
                        $("#btnsignin").text(temptext);
                        $("#btnsignin").prop('disabled', false);
                    }
                    else
                        ShowAlert('error', 'Some error occurred while processing the request. Please try again', 'error');
                        $("#btnsignin").text(temptext);
                        $("#btnsignin").prop('disabled', false);
                })
            }
        })
        
    </script>
</body>
</html>
