
@{
    ViewBag.Title = "PasswordSSN";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}
<style>
    .topPadding {
        padding-top: 60px;
    }

        .topPadding form {
            padding: 25px 0;
        }

    img {
        border: none;
        vertical-align: top;
        width: auto;
        max-width: 100%;
    }

    li {
        position: relative;
    }

    .tooltipBox {
        right: 456px !important;
    }
    .topFooter{
        display:none;
    }
</style>








<!DOCTYPE html>

<html>
<head>
    <title>EnrollMyGroup</title>
    <link rel="shortcut icon" type="image/ico" href="~/Content/Frontend/images/favicon.ico">
    <link href="/Content/assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="/Content/assets/lib/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/chartist/css/chartist.css" rel="stylesheet">
    <link href="/Content/assets/lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">
    <link href="/Content/assets/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/slim.css" rel="stylesheet" />
    <link href="~/Content/assets/js/Alert/stylesheets/jquery.Alert.css" rel="stylesheet" />
    <link href="~/Content/assets/js/sweetalert.css" rel="stylesheet" />
    <script src="/Content/assets/lib/jquery/js/jquery.js"></script>
    <script src="/Content/assets/js/sweetalert.js"></script>
    <script src="/Content/assets/js/Alert/javascripts/jquery.Message.js"></script>
    <script src="/Content/assets/js/Alert/javascripts/sample.js"></script>
    <script src="/Content/assets/js/common.js"></script>
    
    <style>
        .signInError {
            text-align: left;
            color: red;
            font-size: 14px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="signin-wrapper">

        <div class="signin-box signup mg-t-40">
            <h2 class="slim-logo"><a href="/">EMG<span>.</span></a></h2>
            <h3 class="signin-title-primary">Get Started!</h3>
            <h5 class="signin-title-secondary lh-4">Let's set up your login credentials.</h5>
            @using (Html.BeginForm("PasswordSSN", "Home", FormMethod.Post, new { id = "fsubmit" }))
            {
                <div class="row row-xs mg-b-10">
                    <div class="col-12"><input type="text" id="SSN" name="SSN" class="inputTxt1-new ssnmask form-control" placeholder="SSN"></div>

                </div>
                <div class="row row-xs mg-b-10 mg-t-40">
                    <div class="col-sm"><input type="text" name="Email" value="" id="Email" class="form-control" placeholder="Email"></div>
                    <div class="col-sm mg-t-10 mg-sm-t-0"><input type="text" name="Phone" value="" id="Phone" class="form-control" placeholder="Mobile"></div>
                </div><!-- row -->

                <div class="row row-xs mg-b-10">
                    <div class="col-sm"><input type="password" class="form-control" placeholder="New Password" name="resetPassword" id="resetPassword"></div>

                    <div class="col-sm mg-t-10 mg-sm-t-0"><input type="password" placeholder="Confirm Password" name="resetConfirmPassword" id="resetConfirmPassword" class="form-control"></div>
                </div><!-- row -->
                <input type="submit" value="Submit" class="btn btn-primary btn-block btn-signin" id="btnSavePasswordSSN" />
                @*<button class="btn btn-primary btn-block btn-signin">Sign Up</button>*@
            }




            <p class="mg-t-40 mg-b-0">Already have an account? <a href="@Url.Action("Login", "Home")">Sign In</a></p>
        </div><!-- signin-box -->

    </div>
    <script src="/Content/assets/lib/popper.js/js/popper.js"></script>
    <script src="/Content/assets/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/Content/assets/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="/Content/assets/lib/select2/js/select2.full.min.js"></script>
    <script src="/Content/assets/lib/moment/js/moment.js"></script>
    <script src="/Content/assets/lib/d3/js/d3.js"></script>
    <script src="/Content/assets/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="/Content/assets/lib/gmaps/js/gmaps.js"></script>
    <script src="/Content/assets/lib/peity/js/jquery.peity.js"></script>
    <script src="/Content/assets/js/slim.js"></script>
    <script src="/Content/assets/js/ResizeSensor.js"></script>
    <script src="/Content/assets/js/widgets.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('.topFooter,.foterNav').css('display', 'none');
        $('.btn.signin').css('display', 'inline');
        var msg = '';
        var msg = '@ViewBag.Message';
        if (msg == "Password successfully updated.") {
            $("#loginLink").click();

        }
    });
    </script>
</body>
</html>
