@{
    ViewBag.Title = "PasswordSSN";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";

}

<style>
    .topPadding {
        padding-top: 60px;
    }

        .topPadding form {
            padding: 25px 0;
        }

    img {
        border: none;
        vertical-align: top;
        width: auto;
        max-width: 100%;
    }

    li {
        position: relative;
    }

    .tooltipBox {
        right: 456px !important;
    }
</style>







<script src="~/Areas/Employee/Content/js/maskedinput.js"></script>
<!--banner-->


<div class="clientsection" id="botm">

    <div class="topPadding" style="width:100%">
        <h2>Welcome to EnrollMyGroup</h2><br />
        <p>Let's set up your login id and password</p>

        <div class="@(ViewBag.Message != null ? ViewBag.MessageType == "success" ? "successMsgDiv" : "errorMsgDiv" : "")">
            <span>@ViewBag.Message</span>
        </div>


        @using (Html.BeginForm("PasswordSSN", "Home", FormMethod.Post, new { id = "fsubmit" }))
        {
            <div class="loginCon">

                <ul>
                    <li><input type="text" id="SSN" name="SSN" class="inputTxt1-new ssnmask" placeholder="SSN" /></li>
                    <li><input type="text" name="Email" value="" id="Email" class="inputTxt1-new" placeholder="Email" /></li>

                    <li><input type="text" name="Phone" value="" id="Phone" class="inputTxt1-new phonemask" placeholder="Mobile Phone" /></li>
                    <li>
                        <input type="password" placeholder="New Password" name="resetPassword" id="resetPassword" class="inputTxt1-new" />
                        <a href="javascript:void(0)" class="tooltipBox tooltipBox2">
                            <img src="~/Content/Frontend/images/info.png" />
                            <span>
                                <img src="~/Content/Frontend/images/toolLeft.png" class="lefttooltip" alt="">
                                @*<img src="~/Content/Frontend/images/tooltip.png" alt="" class="kid">*@

                                <p> Passwords must be at least 8 characters in length and must contain at least 3 of the following 4 types of characters:</p>
                                <p>1. Lowercase letters (i.e. a-z)</p>
                                <p>2.  Uppercase letters (i.e. A-Z)</p>
                                <p style="margin-right:60px;">3. Numbers (i.e. 0-9)    </p>
                                <p>4. Special characters @Html.Raw(@" (e.g. -=[]\;,./~!@#$%^&amp;*()_+{}|:&lt;&gt;?)")</p>


                            </span>
                        </a>
                    </li>
                    <li>
                        <input type="password" placeholder="Confirm Password" name="resetConfirmPassword" id="resetConfirmPassword" class="inputTxt1-new" />

                    </li>
                    <li>
                        <span id="result"></span>
                    </li>
                    <li><input type="submit" value="Submit" class="btn signin create-pwd" id="btnSavePasswordSSN" /></li>
                </ul>


            </div>
        }

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.topFooter,.foterNav').css('display', 'none');
        $('.btn.signin').css('display', 'inline');
        var msg = '';
        var msg = '@ViewBag.Message';
        if (msg == "Password successfully updated.") {
            $("#loginLink").click();

        }
    });
</script>


<!--banner-->
