@{
    Layout =null;
}
<div id="login" class="notacces">
    Not Accessible
</div>
<style>
    .notacces{width:100%; max-width:400px; margin:20px auto; background:#eee; border:1px solid #ddd; text-align:center; color:#000; font-size:22px; padding:15px;}
</style>